<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <!-- Bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <title>table</title>
    <style> 
        .table {
            width: 90%;
            margin-left: 6%;
            color: #858796
            }

            .table td,.table th {
            padding: .75rem;
            vertical-align: top;
            border-top: 1px solid #e3e6f0
            }

            .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #e3e6f0
            }
    </style>
  </head>
  <body>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Course</th>
              <th scope="col">Year</th>
              <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Namgay Wangchuk</td>												
              <td>Bsc Computer Science</td>
              <td>IV</td>
              <td>12190014.gcit@rub.edu.bt</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Choki Dorji</td>						
              <td>Bsc Computer Science</td>
              <td>IV</td>
              <td>12190002.gcit@rub.edu.bt</td>
            </tr>
            </tbody>
          </table>
        </div>				
  </body>
</html>