


    <h1>Form</h1>
    <form action="/Allocate/api/years" method="POST">

        <input type="text" placeholder="years" name="years"/>

        <input type="text" placeholder="maleBlock" name="maleBlock"/>

        <input type="text" placeholder="femaleBlock" name="femaleBlock"/>

        <input type="submit" value="Submit" onclick="clicked" />

    </form>
    
</body>
</html>