
  #block20 .search-div2 {
    position: absolute;
    margin-top:6.2rem;
    /* display: none; */
  }
  

  #block20 .bx-shadow {
    box-shadow: 0px 3px 10px #cfcfcf; /* adds a box shadow */
    height: 70px;
    background-color: #ffffff; /* sets the background color */
    border-radius: 5px; /* rounds the corners */
    margin: 7.4rem -1rem 1rem 2.2rem;
    overflow-x: hidden;
  }
  #block20 .bx-shadow2 {
    box-shadow: 0px 3px 10px #cfcfcf; /* adds a box shadow */
    height: auto;
    background-color: #ffffff; /* sets the background color */
    border-radius: 5px; /* rounds the corners */
    margin: 6.7rem -1.4rem 1rem 2.2rem;
    overflow-x: hidden;
  }

  
  /* table########################### */

  #block20 .tab{
    padding-top:1rem;
    width:80%;
  }
  #block20 .tab th {
 
 text-align:center;
    margin-left: 1rem;
    color: #ffffff;
  }
  #block20 .tab tr {
    text-align:center;
    margin-left: 1rem;
    color: #4f4f4f;
  }
  
  #block20 .tab td,
  #block20 .tab th {
    padding: 1rem;
    vertical-align: top;
    border: 1px solid #d7c8c8;
    opacity: 90%;
 
  }
  #block20 .heading-search{
    margin-top:1rem;
    margin-left:2rem;
    font-size:20px;
  }
  #block20 .tab tbody tr {
    color: #4f4f4f;
  }
  #block20 .tab thead th {
    vertical-align: bottom;
    border: 2px solid #e9e0e0;
    background: #ff4b13;
    opacity: 90%;
    
  }
  

  @media (max-width: 767px) {
    #block20 .bx-shadow {
      box-shadow: 0px 3px 10px #cfcfcf; /* adds a box shadow */
      margin: 7.4rem -2.2rem 0 2.3rem;
    }
  
  
    #block20 .bx-shadow2 {
      margin: 6.7rem -.3rem 0 2.3rem;
    
    }

  }
