<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Landing Page Hostel-Allocations</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" href="/img/hostel.png" type="image/x-icon">


  <!-- Favicons
    ================================================== -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/css/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

  <!-- Stylesheet
    ================================================== -->
  <link rel="stylesheet" type="text/css" href="/css/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/css/nivo-lightbox/nivo-lightbox.css">
  <link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/default.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/js/js/modernizr.custom.js"></script>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="container">
        <div class="row">
          <div class="intro-text">

            <img src="img/hostel.png" class="logo-img">
            <h1>Hoste Allocation System</h1>
            <hr>
            <p>Live | Experience | Enjoy</p>
            <a href="#about" class="btn btn-default btn-lg page-scroll">Get started</a>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br>
  </header>
  <!-- Navigation -->
  <hr class="division">
  <!-- About Section -->
  <div id="about">
    <div class="container">

      <h2 class="text-center">Objectives</h2>

      <div class="grid-container">
        <div class="grid-item">
          <div class="display-row">
            <div class="col">
              <i class='bx bx-cog'></i>
              <p class="num" style="margin-top:1rem;">01</p>
            </div>
            <p class="ob-des">Automate room allocation and produce room allocation record.</p>
          </div>
        </div>
        <div class="grid-item">
          <div class="display-row">
            <div class="col mt-1 ">
              <i class='bx bx-cog gri-icon'></i>
              <p class="num" style="margin-top:1rem;">02</p>
            </div>
            <p class="ob-des">
              Effortlessly manage hostel information through a user-friendly interface with SSO
              integration.</p>
          </div>
        </div>
        <div class="grid-item">
          <div class="display-row">
            <div class="col mt-1 ">
              <i class='bx bx-cog gri-icon'></i>
              <p class="num" style="margin-top:1rem;">03</p>
            </div>
            <p class="ob-des">
              Minimize errors and confusion by streamlining the hostel
              management process.</p>
          </div>
        </div>
        <div class="grid-item">
          <div class="display-row">
            <div class="col mt-1 ">
              <i class='bx bx-cog gri-icon'></i>
              <p class="num" style="margin-top:1rem;">04</p>
            </div>
            <p class="ob-des">Efficiently manage hostel operations through SSO, encompassing block creation,
              room allocation, and change request handling.</p>
          </div>
        </div>
        <div class="grid-item">
          <div class="display-row">
            <div class="col mt-1 ">
              <i class='bx bx-cog gri-icon'></i>
              <p class="num" style="margin-top:1rem;">05 </p>
            </div>
            <p class="ob-des">Effortlessly search and access student information, including names and hostel
              allocations, for streamlined management convenience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="footer">
    <div class="container text-center">
      <div class="fnav">
        <p>Copyright &copy; 2023 | Hostel Allocation System
        </p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/js/jquery.1.11.1.js"></script>
  <script type="text/javascript" src="/js/js/bootstrap.js"></script>
  <script type="text/javascript" src="/js/js/SmoothScroll.js"></script>
  <script type="text/javascript" src="/js/js/nivo-lightbox.js"></script>
  <script type="text/javascript" src="/js/js/jquery.isotope.js"></script>
  <script type="text/javascript" src="/js/js/jqBootstrapValidation.js"></script>
  <script type="text/javascript" src="/js/js/contact_me.js"></script>
  <script type="text/javascript" src="/js/js/main.js"></script>
</body>

</html>